<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="NetGore Rules" Description="General code rules to be used in all NetGore projects to check for more common and critical issues." ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="BasicCorrectnessRules_Name" />
    <Description Resource="BasicCorrectnessRules_Description" />
  </Localization>
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1013" Action="Warning" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1903" Action="Warning" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2004" Action="Warning" />
    <Rule Id="CA2006" Action="Warning" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2106" Action="Warning" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2120" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2130" Action="Warning" />
    <Rule Id="CA2205" Action="Warning" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2221" Action="Warning" />
    <Rule Id="CA2222" Action="Warning" />
    <Rule Id="CA2223" Action="Warning" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="Warning" />
    <Rule Id="CA2227" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2233" Action="None" />
    <Rule Id="CA2239" Action="Warning" />
  </Rules>
</RuleSet>