<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Database connection strings -->
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Db.DatabaseModel.csdl|res://*/Db.DatabaseModel.ssdl|res://*/Db.DatabaseModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=demogame;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>