<?xml version="1.0"?>
<configuration>
  
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DemoGame.Editor.Properties.EditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="DemoGame.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="editor.log"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <DemoGame.Editor.Properties.EditorSettings>
      <setting name="Screen_ScrollLeft" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="Screen_ScrollRight" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="Screen_ScrollUp" serializeAs="String">
        <value>Up</value>
      </setting>
      <setting name="Screen_ScrollDown" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="Screen_ScrollPixelsPerSec" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MapGrh_DefaultIsForeground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MapGrh_DefaultDepth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GridSize" serializeAs="String">
        <value>32, 32</value>
      </setting>
      <setting name="MapPreview_TextureSize" serializeAs="String">
        <value>2048, 2048</value>
      </setting>
      <setting name="Screen_ScrollLeft2" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="Screen_ScrollRight2" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="Screen_ScrollUp2" serializeAs="String">
        <value>W</value>
      </setting>
      <setting name="Screen_ScrollDown2" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="InitialMapId" serializeAs="String">
        <value>0</value>
      </setting>
    </DemoGame.Editor.Properties.EditorSettings>
    <DemoGame.Editor.Properties.Settings>
      <setting name="Screen_ScrollLeft" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="Screen_ScrollRight" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="Screen_ScrollUp" serializeAs="String">
        <value>Up</value>
      </setting>
      <setting name="Screen_ScrollDown" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="Screen_ScrollPixelsPerSec" serializeAs="String">
        <value>500</value>
      </setting>
    </DemoGame.Editor.Properties.Settings>
  </userSettings>
</configuration>
