<?xml version="1.0"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DemoGame.Client.Properties.ClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DemoGame.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DemoGame.Client.Properties.ClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="client.log"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <DemoGame.Client.Properties.ClientSettings>
      <setting name="ServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="SyncGameTimeFrequency" serializeAs="String">
        <value>600000</value>
      </setting>
    </DemoGame.Client.Properties.ClientSettings>
    <DemoGame.Client.Properties.Settings>
      <setting name="ServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
    </DemoGame.Client.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <DemoGame.Client.Properties.ClientSettings>
      <setting name="EnteredUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="EnteredPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Keys_MoveLeft" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="Keys_MoveRight" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="Keys_MoveUp" serializeAs="String">
        <value>Up</value>
      </setting>
      <setting name="Keys_MoveDown" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="Keys_Attack" serializeAs="String">
        <value>LControl</value>
      </setting>
      <setting name="Keys_UseWorld" serializeAs="String">
        <value>LAlt</value>
      </setting>
      <setting name="Keys_UseShop" serializeAs="String">
        <value>LAlt</value>
      </setting>
      <setting name="Keys_TalkToNPC" serializeAs="String">
        <value>LAlt</value>
      </setting>
      <setting name="Keys_PickUp" serializeAs="String">
        <value>Space</value>
      </setting>
      <setting name="Keys_EmoteEllipsis" serializeAs="String">
        <value>Num1</value>
      </setting>
      <setting name="Keys_EmoteExclamation" serializeAs="String">
        <value>Num2</value>
      </setting>
      <setting name="Keys_EmoteHeartbroken" serializeAs="String">
        <value>Num3</value>
      </setting>
      <setting name="Keys_EmoteHearts" serializeAs="String">
        <value>Num4</value>
      </setting>
      <setting name="Keys_EmoteMeat" serializeAs="String">
        <value>Num5</value>
      </setting>
      <setting name="Keys_EmoteQuestion" serializeAs="String">
        <value>Num6</value>
      </setting>
      <setting name="Keys_EmoteSweat" serializeAs="String">
        <value>Num7</value>
      </setting>
      <setting name="Keys_QuickBarItem0" serializeAs="String">
        <value>F1</value>
      </setting>
      <setting name="Keys_QuickBarItem1" serializeAs="String">
        <value>F2</value>
      </setting>
      <setting name="Keys_QuickBarItem2" serializeAs="String">
        <value>F3</value>
      </setting>
      <setting name="Keys_QuickBarItem3" serializeAs="String">
        <value>F4</value>
      </setting>
      <setting name="Keys_QuickBarItem4" serializeAs="String">
        <value>F5</value>
      </setting>
      <setting name="Keys_QuickBarItem5" serializeAs="String">
        <value>F6</value>
      </setting>
      <setting name="Keys_QuickBarItem6" serializeAs="String">
        <value>F7</value>
      </setting>
      <setting name="Keys_QuickBarItem7" serializeAs="String">
        <value>F8</value>
      </setting>
      <setting name="Keys_QuickBarItem8" serializeAs="String">
        <value>F9</value>
      </setting>
      <setting name="Keys_QuickBarItem9" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="Audio_SoundVolume" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Audio_MusicVolume" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Graphics_VSync" serializeAs="String">
        <value>True</value>
      </setting>
    </DemoGame.Client.Properties.ClientSettings>
  </userSettings>
</configuration>